services:

  tennis_fastapi:
    build: .
    image: tennis_fastapi
    container_name: tennis_fastapi
    restart: always
    links:
      - "postgres_tennis:dbps"
    networks:
      - dbnet
    volumes:
      - ./app:/app/app
    ports:
      - "8009:8000"
    environment:
      - TZ=Europe/Minsk
    depends_on:
      - postgres_tennis


  postgres_tennis:
    image: postgres:17-alpine
    container_name: psgr_tennis
    volumes:
      - postgres-data_tennis:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - TZ=Europe/Minsk
    networks:
      - dbnet


networks:
  dbnet:
    driver: bridge


volumes:
  postgres-data_tennis: